.fighter-preview___root {
  display: flex;
  flex-direction: column;
  width: 250px;
  /* flex-basis: 250px; */
  object-fit: cover;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}
