.fighter-info___root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fighter-info___content {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
}

.fighter-info___fighter-name {
  margin-bottom: 10px;
  font-size: 28px;
  color: white;
}