.fighter-info___root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fighter-info___content {
  padding-top: 30px;
  width: 100%;
}

.fighter-info___fighter-name {
  font-size: 28px;
  color: white;
}