.fighter-info___root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fighter-info___content {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background-color: #26423f;
  color: #f8f9f4;
  border-radius: 10px;
  text-transform: uppercase;
  box-shadow: 6px 6px 7px 0px rgb(0 0 0 / 75%);
}

.fighter-info___fighter-name {
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: bold;
  text-transform: unset;
}